<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
 <head>
  <title>Bookers2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- FontAwesomeの読み込み -->
  <script src="https://kit.fontawesome.com/6eb889a2d4.js" crossorigin="anonymous"></script>
  <!-- CSSファイルの読み込み -->
  <link rel="stylesheet" href="style.css" />

 </head>

 <body>
  <!-- ここからヘッダー -->
  <header>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
     <%= link_to '/', class: "navbar-brand" do %>
      <span>Bookers</span>
     <% end %>

     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
     </button>

     <div class="navbar-collapse collapse" id="navbarNavDropdown" style>
      <ul class="navbar-nav ml-auto">

       <!-- ユーザーがログイン状態なら表示する内容 -->
       <% if user_signed_in? %>

        <!-- ここからHomeボタン -->
        <li>
         <%= link_to user_path(current_user), class: "nav-link text-light" do %>
          <i class="fas fa-home"></i>
          Home
         <% end %>
        </li>
        <!-- ここまでHomeボタン -->

        <!-- ここからUsers（ユーザー一覧画面）ボタン -->
        <li>
         <%= link_to '/users', class: "nav-link text-light" do %>
          <i class="fas fa-users"></i>
          Users
         <% end %>
        </li>
        <!-- ここまでUsers（ユーザー一覧画面）ボタン -->

        <!-- ここからBooks（投稿一覧画面）ボタン -->
        <li>
         <%= link_to '/books', class: "nav-link text-light" do %>
          <i class="fas fa-book-open"></i>
          Books
         <% end %>
        </li>
        <!-- ここまでBooks（投稿一覧画面）ボタン -->

        <!-- ここからLog outボタン -->
        <li>
         <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
          <i class="fas fa-sign-out-alt"></i>
          Log out
         <% end %>
        </li>
        <!-- ここまでLog outボタン -->

       <!-- ユーザーがログアウト状態なら表示する内容 -->
       <% else %>

        <!-- ここからHomeボタン -->
        <li>
         <%= link_to '/', class: "nav-link text-light" do %>
          <i class="fas fa-home"></i>
          Home
         <% end %>
        </li>
        <!-- ここまでHomeボタン -->

        <!-- ここからAboutボタン -->
        <li>
         <%= link_to '/home/about', class: "nav-link text-light" do %>
          <i class="fas fa-link"></i>
          About
         <% end %>
        </li>
        <!-- ここまでAboutボタン -->

        <!-- ここからSign upボタン -->
        <li>
         <%= link_to new_user_registration_path, class: "nav-link text-light" do %>
          <i class="fas fa-user-plus"></i>
          Sign up
         <% end %>
        </li>
        <!-- ここまでSign upボタン -->

        <!-- ここからLog inボタン -->
        <li>
         <%= link_to new_user_session_path, class: "nav-link text-light" do %>
          <i class="fas fa-sign-in-alt"></i>
          Log in
         <% end %>
        </li>
        <!-- ここまでLog inボタン -->

       <% end %>
      </ul>
     </div>

    </div>
   </nav>
  </header>
  <!-- ここまでヘッダー -->

  <main>
   <p id="notice">
    <%= flash[:notice] %>
   </p>
   <%= yield %>
  </main>

  <!-- ここからフッター -->
  <footer>
   <div class="container mt-5">
    <div class="row">
     <div class="mx-auto">
      <p>CopyRight Infratop.inc</p>
     </div>
    </div>
   </div>
  </footer>
  <!-- ここまでフッター -->

 </body>
</html>
